body {
    background-color: #FCE4EC;
    font-family: 'Lato', sans-serif;
    color: #7E7E7E; 
}


#social-icons li {
    display: inline;    
}



#greeting {
    text-align: center;
    margin-top: 4%;
    font-family: 'Julius Sans One', sans-serif;    
    margin-left: 10%;
    margin-right: 10%; 
    margin-bottom: 0;   
    
}

#nav-bar-container {
    margin-top: 6%;
    width: 90%;
    text-align: right;
    font-family: 'Julius Sans One', sans-serif;
    
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 1%;
}

#nav-bar li {
    display: inline;
    padding: 2%;
}


#lefttop-div {
    align-content: center;
}

#main-img {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;

}

#rightbottom-div {
    margin: auto;
    margin-top: 1%;
    font-size: 16px;
    
}


a:link {
    text-decoration: none;
    color: #7E7E7E;
}

a:visited {
    color: #7E7E7E;    
}

a:active {
    color: #7E7E7E;    
    font-weight: bold;
    text-decoration: underline;    
}


