body {
    background-color: #FCE4EC;
    font-family: 'Nunito Sans', sans-serif;   
    color: #7E7E7E; 
}

#greeting {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
}

#nav-bar-container {
    text-align: center;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar li {
    display: inline;
    padding: 2%;
}

#lama-img {
    z-index: -1;
    opacity: 0.5;
    position: absolute;
    right: 25px;
    bottom: 0px;
}

